.chat-area-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
}

.chat-area-container>div{
    box-sizing: border-box;
    min-height: 100px;
    height: 100%;
    margin: 0px;
    /* border: 0.5px solid #999999; */
}

.text-messages-area{
    /* margin: 10px!important; */
}

.user-info-area{
    min-height: 70px!important;
    height: 70px!important;
}

.input-area{
    min-height: 50px!important;
    height: 50px!important;
}



