
.chat-interface-container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    z-index: 0;
}

.chat-interface-container>div{
    padding: 5px;
    box-sizing: border-box;
}

.chat-history-panel{
    min-width: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    border: 0.5px solid black;
}

.chat-history-panel-label{
    font-weight: bold;
    margin-bottom: 3px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chat-type-selector-tab{
    box-sizing: border-box;
    width: 100%;
    height: 52px;
    padding: 5px 0px 5px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 18px;
}


.chat-type-selector-tab-item{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.15s ease-in-out;
    transition: 0.19s ease-in-out;
    cursor: pointer;
}

.chat-type-selector-tab-item:first-child{
    border-radius: 6px 0px 0px 6px;
}

.chat-type-selector-tab-item:last-child{
    border-radius: 0px 6px 6px 0px;
}


.chat-type-selector-tab-item:hover{
    background-color: #F1F1F1;
}

.chat-type-selector-tab-item:active{
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.chat-type-selector-tab .active{
    background-color: #EBEBEB;
}

.chat-history-list{
    display: block;
    width: 100%;
    height: 100%;
    padding-right: 18px;
    box-sizing: border-box;
    overflow-y:scroll;
}

.chat-text-area{
    min-width: 450px;
    width: 100%;
    display: block;
    overflow: scroll;
}