.chat-group-list-box{
    box-sizing: border-box;
    height: 140px;
    min-height: 140px;
    /* padding: 10px; */
    /* display: block; */
    display: grid;
    grid-template-columns: auto auto;
    overflow: scroll;
    /* border: 0.5px solid #BBBBBB; */
}

.chat-group-list-item{
    box-sizing: border-box;
    height: 60px;
    margin: 5px;
    background-color: #FFFFFF;
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    cursor: pointer;
}

.chat-group-list-item:hover{
    border: 0.5px solid #BBBBBB;
}

.chat-group-list-item:active{
    background-color: #DDDDDD;
}
