
.login-page-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.login-page-container>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-width: 400px;
    box-sizing: border-box;
    padding: 30px;
}

.brand-panel{
    width: 80%!important;
    background-color: #202020;
}

.brand-panel>div, .login-panel>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
}

.brand-logo{
    min-height: 300px;
    height: 300px;
}

.brand-logo>img{
    height: 90%;
    width: auto;
}

.brand-title{
    min-height: 120px;
    height: 120px;
}

.brand-title>h1{
    margin-top: 20px;
    font-size: 58px;
    font-weight: bold;
    color: #FFFFFF;
}

.brand-subtitle{
    min-height: 30px;
    height: 30px;
}

.brand-subtitle>span{
    font-size: 20px;
    color: #FFFFFF;
}

.login-title{
    min-height: 90px;
    height: 90px;
}

.login-title>h1{
    margin: 10px;
    font-size: 50px;
}

.login-form{
    box-sizing: border-box;
    width: 100%;
    min-height: 340px;
    height: 340px;
    padding: 50px 20px 0px 20px!important;
}

.login-form-input{
    width: 100%;
    max-width: 500px;
    height: 50px;
    margin: 15px 0px 15px 0px;
    padding: 0px 25px 0px 25px;
    box-sizing: border-box;
    border: 1px solid #A0A0A0;
    box-shadow: none;
    outline: none;
    border-radius: 25px;
    font-family: inherit;
    font-size: 20px;
    -webkit-transformation: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
}

.login-form-input:hover{
    border: 1px solid #888888;
}
.login-form-input:focus{
    border: 1px solid #555555;
    box-shadow: 2px 2px 5px #CCCCCC;
}

.password-input-box{
    width: inherit;
    max-width: 500px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.password-input-box>input{

}

.password-visible-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    right: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
    -webkit-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
}

.password-visible-box:hover{
    background-color: #DDDDDD;
}

.password-visible-box:active{
    background-color: #BFBFBF;
}

.remember-me-box{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.remember-me-box>input{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.remember-me-box>label{
    font-size: 16px;
}

.login-button{
    box-shadow: border-box;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 25px;
    font-family: inherit;
    font-size: 25px;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    color: #FFFFFF;
    background-color: rgb(0, 90, 255);
    cursor: pointer;
    -webkit-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
}

.login-button:hover{
    background-color: rgb(33, 108, 248);
}   

.login-button:active{
    background-color: rgb(0, 75, 214);
}

.login-options{
    display: flex!important;
    flex-direction: row!important;
    width: 100%;
    min-height: 30px;
    height: 30px;
    align-items: flex-end!important;
    /* padding: 10px 50px 0px 50px!important; */
}

.login-options>div{
    display: flex!important;
    flex-direction: row!important;
    width: 100%;
    font-size: 17px;
}

.forgot-password-option{
    justify-content: flex-start;
}

.create-account-option{
    justify-content: flex-end;
}

