.cm-input-div{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}

.cm-input-div > .cm-input{
    box-sizing: border-box;
    outline: none;
    width: 100%;
    font-family: inherit;
    margin-top: 4px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    -webkit-transition: 0.12s ease-in-out;
    transition: 0.12s ease-in-out;
}

.cm-input-div > .cm-input.danger{
    border-color: rgb(226, 0, 0);
}

.cm-input-div > .cm-input.round{
    border-radius: 999px;
}

.cm-input-div > .cm-input.dark{
    color: rgb(255, 255, 255);
    border: 0.5px solid rgb(150, 150, 150);
}

.cm-input-div > .cm-input::placeholder{
    font-family: inherit;
}

.cm-input-div > .cm-input:focus{
    border: 1px solid rgb(90, 90, 90);
}

.cm-input-div > .cm-input.danger:focus{
    border: 1px solid rgb(226, 0, 0);
}

.cm-input-div > .cm-input.sm{
    height: 32px;
    font-size: 13px;
    padding: 0px 9px 0px 9px;
}

.cm-input-div > .cm-input, .cm-input-div > .cm-input.md{
    height: 40px;
    font-size: 17px;
    padding: 0px 11px 0px 11px;
}

.cm-input-div > .cm-input.lg{
    height: 50px;
    font-size: 21px;
    padding: 0px 14px 0px 14px;
}

.cm-input-div > .sub-error-label{
    height: 18px;
    font-size: 14px;
    padding-left: 8px;
    color:rgb(226, 0, 0);
}