
.alert-toaster-single-container-div{
    position: fixed;
    top: 10px;
    width: 40%;
    left: 50%;
    z-index: 1;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.alert-toaster-single-enter{
    transform: scale(0);
}

.alert-toaster-single-enter-active{
    transform: scale(1);
    -webkit-transition: 0.2s cubic-bezier(.29,.37,0,.99);
    transition: 0.2s cubic-bezier(.29,.37,0,.99);
}

.alert-toaster-single-exit{
    transform: scale(1);
}

.alert-toaster-single-exit-active{
    transform: scale(0);
    -webkit-transition: 0.2s cubic-bezier(.34,-0.01,.76,.99);
    transition: 0.2s cubic-bezier(.34,-0.01,.76,.99);
}
