
.password-input-box{
    width: inherit;
    position: relative;
}

.password-visible-button{
    box-sizing: border-box;
    position: absolute;
    /* position : relative; */
    top: 2px;
    right: 2px;
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    padding: 0px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 999px;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    -webkit-transition: 0.12s ease-in-out;
    transition: 0.12s ease-in-out;
}

.password-visible-button:hover{
    background-color: rgba(0, 0, 0, 0.09);
}

.password-visible-button:active{
    background-color: rgba(0, 0, 0, 0.2);
}

.password-visible-button.sm{
    width: 28px;
    height: 28px;
    font-size: 16px;
}

.password-visible-button.lg{
    width: 46px;
    height: 46px;
    font-size: 22px;
}
