
.cm-button{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin : 0px;
    outline: none;
    opacity: 1.0;
    font-family: inherit;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: 0.12s ease-in-out;
    transition: 0.12s ease-in-out;
}

.cm-button:disabled{
    pointer-events: none;
    opacity: 0.55;
}

.cm-button.round{
    border-radius: 999px;
}

.cm-button.block{
    width: 100%;
}

/* cm-button sizes */

.cm-button.sm{
    font-size: 14px;
    /* height :  */
    padding: 6px 12px 6px 12px;
}

.cm-button.sm.wide{
    padding: 6px 30px 6px 30px;
}

.cm-button.lg{
    font-size: 21px;
    padding: 9px 20px 9px 20px;
}

.cm-button.lg.wide{
    padding : 9px 60px 9px 60px;
}

.cm-button, .cm-button.md{
    font-size: 16px;
    height: 38px;
    min-width : 170px;
    padding: 8px 16px 8px 16px;
}

.cm-button.wide, .cm-button.md.wide{
    padding: 8px 45px 8px 45px;
}

/* CM-BUTTON DEFAULT */

/* SECONDARY */
.cm-button.default.secondary{
    background-color: rgba(110, 110, 110, 1);
    border: 1px solid rgba(110, 110, 110, 1);
}

.cm-button.default.secondary:hover{
    background-color: rgba(95, 95, 95, 1);
}

.cm-button.default.secondary:active{
    background-color: rgba(80, 80, 80, 1);
}

/* SUCCESS */
.cm-button.default.success{
    background-color: rgba(0, 166, 0, 1);
    border: 1px solid rgba(0, 166, 0, 1);
}

.cm-button.default.success:hover{
    background-color: rgba(0, 151, 0, 1);
}

.cm-button.default.success:active{
    background-color: rgba(0, 136, 0, 1);
}

/* DANGER */
.cm-button.default.danger{
    background-color: rgba(226, 0, 0, 1);
    border: 1px solid rgba(226, 0, 0, 1);
}

.cm-button.default.danger:hover{
    background-color: rgba(211, 0, 0, 1);
}

.cm-button.default.danger:active{
    background-color: rgba(196, 0, 0, 1);
}

/* ALERT */
.cm-button.default.warning{
    background-color: rgba(240, 147, 8, 1);
    border: 1px solid rgba(240, 147, 8, 1);
}

.cm-button.default.warning:hover{
    background-color: rgba(225, 132, 8, 1);
}

.cm-button.default.warning:active{
    background-color: rgba(210, 117, 8, 1);
}

/* PRIMARY */
.cm-button.default, .cm-button.default.primary{
    background-color: rgba(38, 125, 255, 1);
    border: 1px solid rgba(38, 125, 255, 1);
}

.cm-button.default:hover, .cm-button.default.primary:hover{
    background-color: rgba(23, 110, 250, 1);
}

.cm-button.default:active, .cm-button.default.primary:active{
    background-color: rgba(8, 95, 245, 1);
}


/* CM-BUTTON OUTLINED */

.cm-button.outlined{
    background-color: rgba(0, 0, 0, 0);
}

.cm-button.outlined:active{
    color: rgba(255, 255, 255, 1);
}

/* SECONDARY */
.cm-button.outlined.secondary{
    color: rgba(110, 110, 110, 1);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(110, 110, 110, 1);
}

.cm-button.outlined.secondary:hover{
    background-color: rgba(110, 110, 110, 0.2);
}

.cm-button.outlined.secondary:active{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(110, 110, 110, 1);
}

/* SUCCESS */
.cm-button.outlined.success{
    color: rgba(0, 166, 0, 1);
    border: 1px solid rgba(0, 166, 0, 1);
}

.cm-button.outlined.success:hover{
    background-color: rgba(0, 166, 0, 0.2);
}

.cm-button.outlined.success:active{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 166, 0, 1);
}

/* DANGER */
.cm-button.outlined.danger{
    color: rgba(226, 0, 0, 1);
    border: 1px solid rgba(226, 0, 0, 1);
}

.cm-button.outlined.danger:hover{
    background-color: rgba(226, 0, 0, 0.2);
}

.cm-button.outlined.danger:active{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(226, 0, 0, 1);
}

/* ALERT */
.cm-button.outlined.warning{
    color: rgba(240, 147, 8, 1);
    border: 1px solid rgba(240, 147, 8, 1);
}

.cm-button.outlined.warning:hover{
    background-color: rgba(240, 147, 8, 0.2);
}

.cm-button.outlined.warning:active{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(240, 147, 8, 1);
}

/* PRIMARY */
.cm-button.outlined, .cm-button.outlined.primary{
    color: rgba(38, 125, 255, 1);
    border: 1px solid rgba(38, 125, 255, 1);
}

.cm-button.outlined:hover, .cm-button.outlined.primary:hover{
    background-color: rgba(38, 125, 255, 0.2);
}

.cm-button.outlined:active, .cm-button.outlined.primary:active{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(38, 125, 255, 1);
}
