
.side-nav-panel-container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: #202020;
}

.side-nav-panel-container>.side-nav-branding{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 6px 0px 30px 0px;
}

.side-nav-branding>img{
    /* height: 90%;
    width: auto; */
    width: 88%;
    height: auto;
}

.side-nav-panel-container>.side-nav-link-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.side-nav-link-container>.side-nav-link-item{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.7);
    background-color: inherit;
    -webkit-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

.side-nav-link-container>.side-nav-link-item:hover{
    color: rgba(255, 255, 255, 1);
}

.side-nav-link-container>.side-nav-link-item.selected{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.3);
}

.side-nav-link-item.pan-bottom{
    margin: 0px 0px 0px 0px!important;
    margin-top: auto!important;
}

.side-nav-panel-container>.side-nav-user-profile{
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
}

.user-options{
    margin: 0px 0px 0px 0px!important;
}


.notif-count{
    position: absolute;
    top: 9px;
    right: 9px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 21px;
    width: 21px;
    box-sizing: border-box;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);
    background-color: rgb(0, 90, 255);
    color:rgba(255, 255, 255, 1);
    border-radius: 50%;
    font-size: 13px;
    font-weight: bold;
    opacity: 1.0;
}

.hidden-notif{
    opacity: 0.0;
}
