.app-container{
    /* background-color: #DDDDDD; */
    display: flex;
    flex-direction: row;
    /* justify-content:center; */
    box-sizing: border-box;
    height: 100%;
    padding: 2px;
}

.app-side-panel{
    min-width: 240px;
    width: 240px;
    box-sizing: border-box;
}

.app-chat-area{
    min-width: 300px;
    width: 100%;
    box-sizing: border-box;
}
