.email-verify-container-wrapper{
    box-sizing : border-box;
    display : flex;
    width : 300px;
    height : 200px;
}

.email-verify-container-wrapper > div{
    box-sizing: border-box;
    width : 100%;
    height : 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-verify-status-logo{
    font-size : 90px;
}

.email-verify-status-logo.success{
    color : rgb(0, 200, 0);
}

.email-verify-status-logo.danger{
    color : rgb(220, 0, 0);
}

.email-verification-container-wrapper-fade-enter{
    opacity: 0;
}

.email-verification-container-wrapper-fade-enter-active{
    opacity: 1;
    transition: 150ms ease-in-out;
}

.email-verification-container-wrapper-fade-exit{
    opacity: 1;
}

.email-verification-container-wrapper-fade-exit-active{
    opacity: 1;
    transition: 150ms ease-in-out;
}
