
.auth-form-container > .register-form-main-div{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}


.register-form-main-div>.password-input-box{
    width: inherit;
    position: relative;
}

.password-input-box>input{
    padding-right: 40px;
}

.password-visible-button{
    box-sizing: border-box;
    position: absolute;
    top: 7px;
    right: 2px;
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    padding: 0px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 999px;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    -webkit-transition: 0.12s ease-in-out;
    transition: 0.12s ease-in-out;
}

.password-visible-button:hover{
    background-color: rgba(0, 0, 0, 0.09);
}

.password-visible-button:active{
    background-color: rgba(0, 0, 0, 0.2);
}
