
.chat-side-panel{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
}

.chat-side-panel-items-list{
    height: 100%;
    padding: 5px;
    overflow-y: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.chat-side-panel-items-list>div{
    margin-top: 10px;
    margin-bottom: 10px;
}

