<!DOCTYPE html>
<html style="margin : 0px;" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ping.Me Email Verification</title>
    </head>
    <body style="margin:0px; padding:0px; font-family: 'Montserrat', sans-serif;">
        <table style="table-layout : fixed; width : 100%; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 16px;">
            <tr>
                <td style="height : 90px; text-align: center; vertical-align: middle; background-color: #202020;">
                    <img style="height : 75px; width : auto; vertical-align: middle;" src="cid:pingMeLogo"/>
                </td>
            </tr>   
            <tr>
                <td style="height : 90px; text-align: center; vertical-align: middle;">
                    Welcome to Ping.Me! Please verify your account by clicking on the button below:
                </td>
            </tr>
            <tr>
                <td style="height : 60px; text-align: center; vertical-align: middle;">
                    <a type="button" href="{{verifyLink}}" style="text-decoration : none; font-size : inherit; color : #FFFFFF; cursor : pointer; margin : 0px; padding: 8px 16px 8px 16px; outline : none; border : 1px solid rgb(38, 125, 255); border-radius : 999px; background-color: rgb(38, 125, 255);">Verify Account</a>
                </td>
            </tr>
            <tr>
                <td style="text-align : center; height: 40px; color : #555555">
                    Or
                </td>
            </tr>
            <tr>
                <td style="height : 560px; text-align : center; vertical-align: top; word-wrap : break-word;">
                    <div style="margin-left : auto; margin-right : auto; min-width: 400px; max-width: 640px;">
                        Copy the following link in the browser : {{verifyLink}}
                    </div>
                </td>
            </tr>
            <tr style="height : 60px; text-align:center; vertical-align: center;">
                <td style="background-color: #EFEFEF;">
                    &copy; SRC Inc.
                </td>
            </tr>
        </table>
    </body>
</html>