.user-avatar-box{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 3px;
}

.outer-status-box{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.online{
    border: 3.5px solid #00FF00;
}

.offline{
    border: 3.5px solid #999999;
}

.inner-avatar-box{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 0px;
}

.inner-avatar-box>img{
    margin: 0px;
    height: 95%;
    width: auto;
    border-radius: 50%;
}
