
.semi-spinner-div{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: inherit;
	margin : 0px;
	padding : 0px;
}

.semi-spinner-div.sm{
	width: 18px;
	height: 18px;
}

.semi-spinner-div, .semi-spinner-div.md{
	width: 30px;
	height: 30px;
}

.semi-spinner-div.lg{
	width: 46px;
	height: 46px;
}

.semi-spinner-div > .semi-spinner-dual-ring{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border-radius: 999px;
	font-size : 100px;
	border-style: solid;
	animation: lds-dual-ring 1s cubic-bezier(.65, -0.57, .4, 1.52) infinite;
}

.semi-spinner-div.sm > .semi-spinner-dual-ring{
	border-width : 2px;
}

.semi-spinner-div.lg > .semi-spinner-dual-ring{
	border-width : 5px;
}

.semi-spinner-div > .semi-spinner-dual-ring, .semi-spinner-div.md > .semi-spinner-dual-ring{
	border-width: 3px;
}

.semi-spinner-dual-ring.blue{
	border-color : #0059ff transparent #0059ff transparent
}

.semi-spinner-dual-ring.light{
	border-color: #fff transparent #fff transparent;
}

.semi-spinner-dual-ring, .semi-spinner-ring.dark{
	border-color: #000 transparent #000 transparent;
}

@keyframes lds-dual-ring {
  	0% {
    	transform: rotate(0deg);
  	}
  	100% {
    	transform: rotate(360deg);
  	}
}
