.alert-toaster-group-container-div{
    position: fixed;
    top: 10px;
    max-width: 500px;
    box-sizing: border-box;
    display: block;
    justify-content: right;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

@media only screen and (max-width: 768px){
    .alert-toaster-group-container-div{
        width: 88%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (min-width: 769px){
    .alert-toaster-group-container-div{
        width: 44%;
        right: 10px;
    }
}

.alert-toaster-group-enter{
    max-height: 0px;
    -moz-transform: translateX(110%);
    -webkit-transform: translateX(110%);
    transform: translateX(110%);
}

.alert-toaster-group-enter-active{
    max-height: 100px;
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -moz-transition: max-height 0.48s cubic-bezier(.29,.37,0,.99), transform 0.4s cubic-bezier(0,.08,0,.99) 0.28s;
    -webkit-transition: max-height 0.48s cubic-bezier(.29,.37,0,.99), transform 0.4s cubic-bezier(0,.08,0,.99) 0.28s;
    transition: max-height 0.48s cubic-bezier(.29,.37,0,.99), transform 0.4s cubic-bezier(0,.08,0,.99) 0.28s;
}

.alert-toaster-group-exit{
    max-height: 100px;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.alert-toaster-group-exit-active{
    max-height: 0px;
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
    -webkit-transition:  transform 0.4s ease-in, max-height 0.3s cubic-bezier(.29,.37,0,.99) 0.4s;
    transition: transform 0.4s ease-in, max-height 0.3s cubic-bezier(.29,.37,0,.99) 0.4s;
}
